RewriteEngine On
# zabroniony dostęp do katalogów w głównym katalogu
Options -Indexes

RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ /php/mvc_autoloader/public/index.php?url=$1 [L,QSA]
# RewriteRule ^(.*)$ /php/mvc_autoloader/index.php?$1 [L,QSA]
